{% extends "index.html" %}
{% block content %}

<div class="container">
    <div class="row">
        <div id="gye-about" class="col-md-6">
            <h1>About Me</h1>
            <p>Hi! I am Athanasios Platsas and I am running for Governor of Iowa.<br>
               It will be my honor to serve all of the citizens of this great Hawkeye State!
            </p>
        </div>

        <div id="gye-mission" class="col-md-6">
            <h1>Our Mission</h1>
            <p>My team and I intend to raise standards of living in the state to a higher level.<br>
               Part of that huge effort will be the improvement of education provision and resources.<br>
               You can review related data in the area of school donations in the main page of this website. 
            </p>
        </div>
    </div>
</div>
{% endblock %}

